README.md
readme.md
*.md
CHANGELOG.md
LICENSE
CONTRIBUTING.md

azure-pipelines.yml
azure-pipeline.yml
ativar-pipeline.txt
.azure-pipelines/
.github/
.gitlab-ci.yml
Jenkinsfile

.git/
.gitignore
.gitattributes

Dockerfile*
docker-compose*.yml
.dockerignore

scripts/
postman/

Documentacao_JobFit-Score.pdf
